body {
  font-size: 16px;
}
body,
.navbar,
.welcome__section__wrapper p {
  margin: 0px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  position: fixed;
  width: 100%;
}
.navbar__link {
  float: right;
  margin: 30px;
  padding: 10px;
}
.welcome__section {
  height: 100vh;
  text-align: center;
  background-color: lightblue;
}
.welcome__section__wrapper {
  padding-top: 40vh;
}
